/* URW Gothic L */
@font-face {
	font-family: "URW Gothic L";
	src: url("/fonts/URWGothicL/URWGothicLBook.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "URW Gothic L";
	src: url("/fonts/URWGothicL/URWGothicLBookItalic.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "URW Gothic L";
	src: url("/fonts/URWGothicL/URWGothicLBold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "URW Gothic L";
	src: url("/fonts/URWGothicL/URWGothicLBoldItalic.woff2") format("woff2");
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

/* Jost - http://indestructibletype.com/Jost.html */
@font-face {
	font-family: "Jost*";
	src: url("/fonts/Jost/Jost-400-Book.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Jost*";
	src: url("/fonts/Jost/Jost-400-BookItalic.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "Jost*";
	src: url("/fonts/Jost/Jost-500-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Jost*";
	src: url("/fonts/Jost/Jost-500-MediumItalic.woff2") format("woff2");
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "Jost*";
	src: url("/fonts/Jost/Jost-600-Semi.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Jost*";
	src: url("/fonts/Jost/Jost-600-SemiItalic.woff2") format("woff2");
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "Jost*";
	src: url("/fonts/Jost/Jost-700-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Jost*";
	src: url("/fonts/Jost/Jost-700-BoldItalic.woff2") format("woff2");
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

body {
	font-family: "URW Gothic L", "Tex Gyre Adventor", "Century Gothic", Avenir, sans-serif;
	font-weight: 400;
	font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Jost*", Futura, "URW Gothic L", "Tex Gyre Adventor", "Century Gothic", sans-serif;
	font-weight: 500;
}
