{{ define "main" }}
	<main>
		{{ $listtitle := .Title }}
		{{ if or .Title .Content }}
		<div>
			{{ with .Title }}<h1>{{ . }}</h1>{{ end }}
			{{ with .Content }}<div>{{ . }}</div>{{ end }}
		</div>
		{{ end }}
		
		<ul>
			{{ $paginatelist := 10 }}
			{{ if isset .Site.Params "paginatelist" }}
				{{ $paginatelist = .Site.Params.PaginateList }}
			{{ end }}
			{{ range (.Paginator $paginatelist).Pages }}
			<li>
				<div class="post-title">
					<a href="{{ .RelPermalink }}">{{.Title }}</a> <small>({{ .Date.Format "02.01.2006" }})</small>
				</div>
			</li>
			{{ end }}
		</ul>
		{{ partial "pagination.html" . }}
	</main>
{{ end }}
