<article>
	<h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
	<p class="post-date-tags">
		<time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ .Date.Format "02.01.2006 15:04" }}</time>
		{{ if .Params.tags }}
			{{ range .Params.tags }}
				/ <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">#{{ . }}</a>
			{{ end }}
		{{ end }}
		{{ if .Params.categories }}
			{{ range .Params.categories }}
				/ <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">*{{ . }}</a>
			{{ end }}
		{{ end }}
	</p>
	<div>
		{{ .Summary }}
		{{ if .Truncated }}
			<a href="{{ .RelPermalink }}">Weiterlesen &rarr;</a>
		{{ end }}
	</div>
</article>
<hr>
