<header>
	<h1 class="site-title">
		{{ if isset .Site.Params "logo" }}<a href="{{ .Site.BaseURL }}"><img class="site-logo" src="{{ .Site.Params.Logo }}"></a>&ensp;{{ end }}
		<a href="{{ .Site.BaseURL }}">{{ .Site.Title }}{{ if isset .Site.Params "titleappend" }} {{ .Site.Params.TitleAppend }}{{ end }}</a>
	</h1>
	<hr>
	<div style="float: right;">{{ .Site.Params.subtitle }}</div><br>
	<p>
	<nav>
			<a href="/"><b>Start</b></a>.&nbsp;
			{{ with .Site.Menus.main }}
			{{ range . }}
			<a href="{{ .URL | relURL }}"><b>{{ .Name }}</b></a>.&nbsp;
			{{ end }}
	</nav>
	</p>
	{{ end }}
</header>
